.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size; 

  &__title {
    font-size: $l-size;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
  }

  &__subtitle {
    font-weight: 200;
    color: $off-white
  }
}

